<h1><%= current_user.name %>さんのマイページ</h1>

<p>メールアドレス: <%= current_user.email %></p>
<%= link_to 'プロフィールを編集', edit_user_path(current_user) %> |
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
